.cardlist-container {
  padding-top: 6rem;

  & h2 {
    font-size: var(--text-xl);
    color: var(--color-accent-2);
    pointer-events: none;
    user-select: none;
  }

  & .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    justify-items: center;
  }

  & .section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: var(--main-margin-y);
  }

  /* section :global(> *) {
  } */

  @media only screen and (min-width: 600px) {
    .section-details {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    a.button {
      max-width: 150px;
    }
  }
}


.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  gap: 0.5rem;
  background: var(--color-background);
  border: 2px solid var(--color-accent);
  border-radius: var(--border-radius);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-accent);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox-label:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox-label.checked:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.checkbox-label input[type="checkbox"] {
  display: none;
}


.checkbox-label.checked {
  background: var(--color-accent);
  color: white;
  border: 2px solid var(--color-accent-1);  /* Contrasting border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: var(--main-margin-y);
}