.cardlist-container {
  padding-top: 6rem;

  & h2 {
    font-size: var(--text-xl);
    color: var(--color-accent-2);
    pointer-events: none;
    user-select: none;
  }

  & .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    justify-items: center;
  }

  & .section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: var(--main-margin-y);
  }

  /* section :global(> *) {
  } */

  @media only screen and (min-width: 600px) {
    .section-details {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    a.button {
      max-width: 150px;
    }
  }
}
