.borders {
  &:after,
  &:before,
  & .skill-list:before,
  & .skill-list:after {
    content: '';
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    border: 1px solid white;
  }

  // Top left corner
  &:before {
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px;
    border-radius: var(--border-radius) 0 0 0;
  }

  // Top right corner
  &:after {
    top: 0;
    right: 0;
    border-width: 1px 1px 0 0;
    border-radius: 0 var(--border-radius) 0 0;
  }

  // Bottom right corner
  & .skill-list:before {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0;
    border-radius: 0 0 var(--border-radius) 0;
  }

  // Bottom left corner
  & .skill-list:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 var(--border-radius);
  }
}
