---
import Layout from '../layouts/Layout.astro';

interface PostProps {
  title: string;
  date: string;
  lastUpdate: string;
  slug: string;
}
---

<Layout title="Blog">
  <main></main>
</Layout>

<style>
  main {
    background: var(--color-surface-1);
    padding: 4rem 1rem;
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
