---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DaniloArantesF">
  <main>
    <div class="hero-container">
      <span class="left-gradient"></span>
      <span class="right-gradient"></span>
      <span class="background-gradient"></span>

      <div class="background-container">
        <div></div>
        <div>
          <div class="background-lines">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @property --intersection {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: false;
  }

  @property --gap {
    syntax: '<percentage>';
    initial-value: 10%;
    inherits: true;
  }

  @property --left-lower-opacity {
    syntax: '<number>';
    initial-value: 0.5;
    inherits: false;
  }

  @property --right-lower-opacity {
    syntax: '<number>';
    initial-value: 0.5;
    inherits: false;
  }

  :root {
    --color-0: #4143e1;
    --color-1: #42d6ff;
    --width: 200vw;
    --margin: -50%;
    --gap: 10%;
  }

  main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  @media only screen and (min-width: 800px) {
    :root {
      --width: 400vw;
      --margin: -150%;
      --gap: 5%;
    }
  }

  .hero-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .background-container {
    position: absolute;
    z-index: -6;
    overflow: hidden;
    inset: 0;
    transition: perspective 3s ease 0s;
    perspective: 300px;
  }

  /* Background gradient */
  .background-container > :nth-child(1) {
    z-index: 99;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0px,
      var(--color-background) 50%
    );
  }

  .background-container > :nth-child(2) {
    position: absolute;
    inset: 0px;
    transform: rotateX(55deg);
  }

  .background-lines {
    position: absolute;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--margin);
    transform: translateY(0);
    -webkit-mask-image: linear-gradient(180deg, #000 2px, transparent 0),
      linear-gradient(90deg, #000 2px, transparent 0);
    mask-image: linear-gradient(90deg, #000 2px, transparent 0),
      linear-gradient(180deg, #000 2px, transparent 0);
    overflow: hidden;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    inset: -100% 0;
    background-position-y: 100%;
    -webkit-mask-position: 50% 0;
    mask-position: 50% 0;
    mask-size: 100px 80px;
    -webkit-mask-size: 100px 80px;
    animation: background-down 15s linear infinite;
  }

  .background-lines > div {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      90deg,
      var(--color-0) calc(var(--intersection) - var(--gap)),
      transparent var(--intersection),
      var(--color-1) calc(var(--intersection) + var(--gap))
    );

    animation: scan 2s linear infinite;
  }

  @keyframes background-down {
    0% {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(50% + 28px));
    }
  }

  @keyframes scan {
    0% {
      --intersection: 50%;
    }
    25% {
      --intersection: 48%;
    }
    75% {
      --intersection: 52%;
    }
    100% {
      --intersection: 50%;
    }
  }

  @keyframes light-bloom {
    0% {
      --left-lower-opacity: 0.5;
      --right-lower-opacity: 0.5;
    }
    15% {
      --left-lower-opacity: 0.3;
      --right-lower-opacity: 0.5;
    }
    25% {
      --left-lower-opacity: 0;
      --right-lower-opacity: 0.5;
    }
    50% {
      --left-lower-opacity: 0.5;
      --right-lower-opacity: 0.5;
    }
    75% {
      --left-lower-opacity: 0.5;
      --right-lower-opacity: 0;
    }
    85% {
      --left-lower-opacity: 0.5;
      --right-lower-opacity: 0.2;
    }
    100% {
      --left-lower-opacity: 0.5;
      --right-lower-opacity: 0.5;
    }
  }

  .left-gradient:before,
  .left-gradient:after {
    content: '';
    position: absolute;
    pointer-events: none;
    filter: blur(140px);
    will-change: filter;
    mix-blend-mode: normal;
  }

  /* side */
  .left-gradient:before {
    width: 25%;
    height: 900px;
    left: -12.5%;
    top: calc(50% - 900px / 2 + 151px);
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      hsla(239, 85%, 27%, 0.1),
      hsla(239, 85%, 37%, 0.8)
    );
    transform: rotate(-15deg);
    border-bottom-left-radius: 15% 25%;
    border-bottom-right-radius: 15% 25%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    z-index: 100;
  }

  /* bottom */
  .left-gradient:after {
    width: 40%;
    height: 420px;
    left: 0px;
    bottom: -210px;
    opacity: var(--left-lower-opacity);
    background: linear-gradient(
      180deg,
      hsla(239, 85%, 27%, 0.1),
      hsla(239, 85%, 37%, 0.8)
    );
    animation: light-bloom 2s linear infinite;
  }

  .right-gradient:after,
  .right-gradient:before {
    content: '';
    position: absolute;
    pointer-events: none;
    filter: blur(125px);
    will-change: filter;
    mix-blend-mode: normal;
  }

  /* side */
  .right-gradient:before {
    z-index: 200;
    width: 25%;
    height: 900px;
    right: -12.5%;
    top: calc(50% - 900px / 2 + 151px);
    background-image: linear-gradient(
      180deg,
      hsla(193, 80%, 33%, 0.1),
      hsla(193, 80%, 43%, 0.4)
    );
    transform: rotate(15deg);
    border-bottom-left-radius: 15% 25%;
    border-bottom-right-radius: 15% 25%;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    opacity: 0.2;
    overflow: hidden;
  }

  /* bottom */
  .right-gradient:after {
    width: 40%;
    height: 420px;
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    bottom: -210px;
    opacity: var(--right-lower-opacity);
    background: linear-gradient(
      180deg,
      hsla(193, 80%, 33%, 0.1),
      hsla(193, 80%, 43%, 0.4)
    );
    animation: light-bloom 2s linear infinite;
  }
</style>
