---
import CardList from '../components/CardList';
import ContactPrompt from '../components/ContactPrompt.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { getLocalProjects } from './projects.astro';

const { projects, demos } = await getLocalProjects();

const featuredCards = [
  ...projects
    .filter((p) => p.frontmatter.featured)
    .map((project) => {
      const slug = project.file.substring(
        project.file.lastIndexOf('/') + 1,
        project.file.length - 3,
      );

      const projectLink = project.frontmatter.live
        ? project.frontmatter.live
        : project.frontmatter.sandbox
        ? project.frontmatter.sandbox
        : project.frontmatter.github;
      return {
        href: projectLink ?? `/projects/${slug}`,
        ...project.frontmatter,
      };
    }),
  ...demos
    .filter((i) => i.frontmatter.featured)
    .map((project) => {
      const projectLink = project.url!.substring(
        0,
        project.url!.lastIndexOf('/'),
      );
      return {
        href: projectLink,
        ...project.frontmatter,
      };
    }),
];
---

<Layout title="DaniloArantesF">
  <main>
    <Hero />
    <section>
      <CardList
        name="Projects and Experiments"
        viewAll="/projects"
        cards={featuredCards}
        client:only="react"
      />
    </section>
    <ContactPrompt text="Let's get in touch!" />
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: min(100%, var(--content-max-width));
    margin: 0 auto;
    overflow-x: hidden;
  }

  main > section {
    margin: 0 var(--main-margin-x);
  }
</style>
