---
import {
  extractSlugFromFilePath,
  getProjectUrl,
} from '~/lib/projects';
import CardList from '../components/CardList';
import ContactPrompt from '../components/ContactPrompt.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CardProps } from '~/components/Card';

const projectsCollection = await getCollection('projects');
const featuredCards: CardProps[] = projectsCollection.map(p => ({ ...p.data, slug: extractSlugFromFilePath(p.filePath), href: getProjectUrl(p), }))

---

<Layout title="DaniloArantesF">
  <main>
    <Hero />
    <section>
      <CardList
        name="Projects and Experiments"
        viewAll="/projects"
        cards={featuredCards}
        client:load
      />
    </section>
    <ContactPrompt text="Let's get in touch!" />
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: min(100%, var(--content-max-width));
    margin: 0 auto;
    overflow-x: hidden;
  }

  main > section {
    margin: 0 var(--main-margin-x);
    margin-bottom: 2rem;
  }
</style>
