---
import Card from '../components/Card.astro';
import CardList from '../components/CardList.astro';
import ContactPrompt from '../components/ContactPrompt.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
import type { ProjectProps } from './projects/[slug].astro';

const projects = await Astro.glob<ProjectProps>('/src/projects/*.md');
---

<Layout title="DaniloArantesF">
  <main>
    <Hero
      heading="Hello There"
      text="this is my website. I like programming stuff. gibe me money plz"
    />
    <Skills />
    <CardList name="Projects" viewAll="/projects">
      {
        projects
          .filter((p) => p.frontmatter.featured)
          .map((project) => {
            const slug = project.file.substring(
              project.file.lastIndexOf('/') + 1,
              project.file.length - 3,
            );
            return (
              <Card
                href={`/projects/${slug}`}
                {...project.frontmatter}
                description={''}
              />
            );
          })
      }
    </CardList>
    <ContactPrompt text="give job pls" />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: var(--content-max-width);
    padding: 0 1.5rem;
    margin: 0 auto;
  }
</style>
