---
import CardList from '../components/CardList';
import ContactPrompt from '../components/ContactPrompt.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { Tiles, TilesScene } from '~/components/Tiles/Tiles';
import { getLocalProjects } from '~/pages/projects.astro';

const { projects, demos } = await getLocalProjects();
const cards = [...projects, ...demos].map((p) => p.frontmatter);
// const featuredCards = getCardData(projects);
---

<Layout title="DaniloArantesF">
  <main>
    <!-- <Hero /> -->
    <section>
      <TilesScene data={cards} client:only />
    </section>
    <!-- <ContactPrompt text="Let's get in touch!" /> -->
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: min(100%, var(--content-max-width));
    margin: 0 auto;
    overflow-x: hidden;
  }

  main > section {
    margin: 0 var(--main-margin-x);
    margin-bottom: 2rem;
  }
</style>
