---
import type { CardProps } from '@components/Card';
import { getProjects } from 'src/api';
import type { Tag } from 'src/payload-types';
import CardList from '../components/CardList';
import ContactPrompt from '../components/ContactPrompt.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

let { docs: projects } = await getProjects();

projects = projects.filter((project) => project.featured && project.visible);
const featuredCards = [
  ...projects.map((project): CardProps => {
    const href = project.live
      ? project.live
      : project.codesandbox
      ? project.codesandbox
      : project.github ||
        `${project.type !== 'game' ? 'projects' : 'games'}/${project.slug}`;

    // fix this sin
    let tags: Tag[] = [];
    if (project.tags) {
      tags = (project.tags as Tag[]).filter((t) => typeof t === 'object');
    }

    return {
      title: project.title,
      subtitle: '',
      description: project.description,
      tags,
      image: project.image,
      github: project.github,
      live: project.live,
      sandbox: project?.codesandbox,
      href,
    };
  }),
];
featuredCards.forEach((card) => {
  if (typeof card.image === 'object') {
    card.image.url = `${import.meta.env.PAYLOAD_URL}${card.image.url}`;
  }
});
---

<Layout title="DaniloArantesF">
  <main>
    <Hero />
    <section>
      <CardList
        name="Projects and Experiments"
        viewAll="/projects"
        cards={featuredCards}
        client:load
      />
    </section>
    <ContactPrompt text="Let's get in touch!" />
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: min(100%, var(--content-max-width));
    margin: 0 auto;
    overflow-x: hidden;
  }

  main > section {
    margin: 0 var(--main-margin-x);
    margin-bottom: 2rem;
  }
</style>
