---
import Card from '../components/Card';
import CardList from '../components/CardList.astro';
import Layout from '../layouts/Layout.astro';
import type { ProjectProps } from './projects/[slug].astro';

export async function getProjects() {
  // Offsite projects are included from src/projects
  const projects = (
    await Astro.glob<ProjectProps>('/src/projects/*.md')
  ).filter(
    ({ frontmatter }) =>
      import.meta.env.DEV || frontmatter.visibility !== 'hidden',
  );

  // Demos are included here
  // Note: If a demo does not contain a readme it will not be listed
  const demos = (
    await Astro.glob<ProjectProps>('/src/pages/projects/**/*.md')
  ).filter(
    ({ frontmatter }) =>
      import.meta.env.DEV ||
      (frontmatter.visibility && frontmatter.visibility !== 'hidden'),
  );

  return { projects, demos };
}

const { projects, demos } = await getProjects();
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects">
      {
        demos.map((project) => {
          const projectLink = project.url!.substring(
            0,
            project.url!.lastIndexOf('/'),
          );
          return (
            <Card
              client:only="react"
              href={projectLink}
              {...project.frontmatter}
            />
          );
        })
      }
      {
        projects.map((project) => {
          const slug = project.file.substring(
            project.file.lastIndexOf('/') + 1,
            project.file.length - 3,
          );
          const projectLink = project.frontmatter.live
            ? project.frontmatter.live
            : project.frontmatter.sandbox
            ? project.frontmatter.sandbox
            : project.frontmatter.github;
          return (
            <Card
              client:only="react"
              href={projectLink ?? `/projects/${slug}`}
              {...project.frontmatter}
            />
          );
        })
      }
    </CardList>
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
