---
import type { CardProps } from '@components/Card';
import { getProjects } from 'src/api';
import CardList from '../components/CardList';
import Layout from '../layouts/Layout.astro';
import type { Tag } from '../payload-types';

export interface ProjectProps {
  description: string;
  featured: boolean;
  github?: string;
  lastUpdated: string;
  live?: string;
  image: string;
  sandbox?: string;
  subtitle: string;
  tags: Tag[];
  title: string;
  visibility?: 'visible' | 'hidden' | 'private';
}

export async function getLocalProjects(all = false) {
  // Hidden projects are only visible in production.
  // Show all if dev
  const visible = (status: string) =>
    (all || import.meta.env.DEV || status === 'visible') && status !== 'hidden';

  // Offsite projects are included from src/projects
  const projects = (
    await Astro.glob<ProjectProps>('/src/projects/*.md')
  ).filter(({ frontmatter }) => visible(frontmatter.visibility ?? ''));

  // Demos are included here
  // Note: If a demo does not contain a readme it will not be listed
  const demos = (
    await Astro.glob<ProjectProps>('/src/pages/projects/**/*.md')
  ).filter(({ frontmatter }) => visible(frontmatter.visibility ?? ''));

  return { projects, demos };
}

let { docs: projects } = await getProjects(true);
projects = projects.filter((p) => p.visible);

// Map project data
const cards = [
  ...projects.map((project): CardProps => {
    const href = project.live
      ? project.live
      : project.codesandbox
      ? project.codesandbox
      : project.github ||
        `${project.type !== 'game' ? 'projects' : 'games'}/${project.slug}`;

    // fix this sin
    let tags: Tag[] = [];
    if (project.tags) {
      tags = (project.tags as Tag[]).filter((t) => typeof t === 'object');
    }

    return {
      title: project.title,
      subtitle: '',
      tags,
      image: project.image,
      github: project.github,
      live: project.live,
      sandbox: project?.codesandbox,
      href,
    };
  }),
];

cards.forEach((card) => {
  if (typeof card.image === 'object') {
    card.image.url = `${import.meta.env.PAYLOAD_URL}${card.image.url}`;
  }
});
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects" client:load cards={cards} />
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
