---
import type { CardProps } from '~/components/Card';
import CardList from '../components/CardList';
import Layout from '../layouts/Layout.astro';
import {
  extractSlugFromFilePath,
  getProjectUrl,
sortProjects,
} from '~/lib/projects';
import { getCollection } from 'astro:content';

const projectsCollection = sortProjects(await getCollection('projects'), "date", "desc");
const cards: CardProps[] = projectsCollection.map((p) => ({
  ...p.data,
  slug: extractSlugFromFilePath(p.filePath),
  href: getProjectUrl(p),
}));
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects" client:load cards={cards} />
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
