---
import type { CardProps } from '~/components/Card';
import CardList from '../components/CardList';
import Layout from '../layouts/Layout.astro';
import {
  getLocalProjects,
  getProjectUrl,
} from '~/lib/projects';

const cards: CardProps[] = (await getLocalProjects(true)).map((p) => ({
  ...p.frontmatter,
  href: getProjectUrl(p),
}));
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects" client:load cards={cards} />
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
