---
import { getCardData, getProjects } from 'src/api';
import CardList from '../components/CardList';
import Layout from '../layouts/Layout.astro';
import type { Project, Tag } from '../payload-types';

export interface ProjectProps {
  description: string;
  featured: boolean;
  github?: string;
  lastUpdated: string;
  live?: string;
  image: string;
  sandbox?: string;
  subtitle: string;
  tags: Tag[];
  title: string;
  visibility?: 'visible' | 'hidden' | 'private';
}

export function getProjectLink(project: Project, href = true) {
  const live = project.links?.find(({ source }) => source === 'custom')?.url;
  const github = project.links?.find(({ source }) => source === 'github')?.url;
  const codesandbox = project.links?.find(
    ({ source }) => source === 'codesandbox',
  )?.url;
  const codepen = project.links?.find(
    ({ source }) => source === 'codepen',
  )?.url;

  return live
    ? live
    : codesandbox
    ? codesandbox
    : github ||
      `${project.type !== 'game' ? 'projects' : 'games'}/${project.slug}`;
}

export async function getLocalProjects(all = false) {
  // Hidden projects are only visible in production.
  // Show all if dev
  const visible = (status: string) =>
    (all || import.meta.env.DEV || status === 'visible') && status !== 'hidden';

  // Offsite projects are included from src/projects
  const projects = (
    await Astro.glob<ProjectProps>('/src/projects/*.md')
  ).filter(({ frontmatter }) => visible(frontmatter.visibility ?? ''));

  // Demos are included here
  // Note: If a demo does not contain a readme it will not be listed
  const demos = (
    await Astro.glob<ProjectProps>('/src/pages/projects/**/*.md')
  ).filter(({ frontmatter }) => visible(frontmatter.visibility ?? ''));

  return { projects, demos };
}

let { docs: projects } = await getProjects(true);
projects = projects.filter((p) => p.visible);

// Map project data
const cards = getCardData(projects);
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects" client:load cards={cards} />
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
