---
import CardList from '../components/CardList';
import Layout from '../layouts/Layout.astro';
import { getLocalProjects, type ProjectProps } from '~/lib/projects';

const projects: ProjectProps[] = (await getLocalProjects(true)).map(
  (p) => p.frontmatter,
);
---

<Layout title="Portfolio">
  <main>
    <CardList name="Projects" client:load cards={projects} />
  </main>
</Layout>

<style>
  main {
    padding: 0rem var(--main-margin-x);
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
  }
</style>
