---
import { SEO } from 'astro-seo';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<!-- <meta name="viewport" content="width=device-width" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<SEO
  title={title}
  description={description ??
    'A software engineer focused on front-end development'}
/>
<title>{title}</title>

<script
  defer
  data-domain={`${import.meta.env.PROD ? '' : 'dev.'}daniloarantesf.me`}
  src={`https://analytics.darflix.dev/js/script.outbound-links.tagged-events${import.meta.env.PROD ? '' : '.local'}.js`}
></script>
<script is:inline>
  window.plausible =
    window.plausible ||
    function () {
      (window.plausible.q = window.plausible.q || []).push(arguments);
    };
</script>
