---
interface Props {
  viewAll?: string;
  name: string;
}

const { viewAll, name } = Astro.props;
---

<section>
  <div class="section-details">
    <h2>{name}</h2>
    {
      viewAll && (
        <a class="button outlined" href={viewAll}>
          View All
        </a>
      )
    }
  </div>
  <div class="cards-container">
    <slot />
  </div>
</section>

<style lang="scss">
  section h2 {
    font-size: var(--text-xl);
  }

  section > .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 5rem;
    column-gap: 3rem;
    justify-content: center;
    justify-items: center;
  }

  .section-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--main-margin-y);

    // & > h2 {
    //   margin: 0 auto;
    // }
  }

  a.button {
    max-width: 150px;
  }

  /* section :global(> *) {
  } */

  /* @media only screen and (min-width: 600px) {
    section > .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(calc(100% / var(--columns) - var(--columns) * 2rem), 1fr));
    }
  } */
</style>
