---
export interface Props {
  title: string;
  picture: string;
  subtitle?: string;
  href: string;
}

const { title, subtitle, href, picture } = Astro.props;
---

<div class="card">
  <a href={href}>
    <img src={`/assets/${picture}`} />
    <h4>{title}</h4>
    <span>{subtitle ?? ''}</span>
  </a>
</div>

<style>
  .card h4 {
    margin-top: 1rem;
  }

  .card a {
    text-decoration: none;
    color: inherit;
  }

  .card > a > span {
    font-size: var(--text-xs);
    font-weight: 300;
    color: var(--color-text-sub);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
</style>
