---
import button from '../styles/button.module.css';
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section id="contact-prompt">
  <h3>{text}</h3>
  <a
    href="/contact"
    role="navigation"
    class={`${button.button}`}
    aria-label="Contact me"
    role="navigation">Contact</a
  >
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background: var(--color-surface-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  h3 {
    pointer-events: none;
    user-select: none;
  }
  a.button {
    max-width: 200px;
  }

  @media only screen and (min-width: 600px) {
    section {
      flex-direction: row;
    }
  }
</style>
