---
import Icon from './Icon.astro';
---

<footer>
  <div>
    <h4>DaniloArantesF</h4>
    <div id="social-links">
      <a
        role="link"
        title="github"
        href="https://github.com/DaniloArantesF"
        aria-label="Github"
        rel="noopener"
        ><Icon color="#ffffff" icon="github" />
      </a>
      <a
        role="link"
        title="codesandbox"
        aria-label="Codesandbox"
        href="https://codesandbox.io/u/DaniloArantesF"
        rel="noopener"
        ><Icon color="#ffffff" icon="codesandbox" />
      </a>
      <a
        role="link"
        title="codepen"
        href="https://codepen.io/daniloarantesf"
        aria-label="Codepen"
        rel="noopener"
        ><Icon color="#ffffff" icon="codepen" />
      </a>
      <a
        title="linkedin"
        role="link"
        href="https://www.linkedin.com/in/daniloarantesf/"
        aria-label="Linkedin"
        rel="noopener"
        ><Icon color="#ffffff" icon="linkedin" />
      </a>
    </div>
    <ul id="quick-links">
      <li>Quick Links</li>
      <li><a aria-label="Home" role="navigation" href="/">Home</a></li>
      <li>
        <a aria-label="Projects" role="navigation" href="/projects">Projects</a>
      </li>
      <!-- <li><a role="link" href="/blog">Blog</a></li> -->
      <li>
        <a aria-label="Contact" role="navigation" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div>
    <span class="copyright"></span>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--main-margin-y);
    padding: var(--padding-y) var(--padding-x);
    background: var(--color-surface-0);
  }

  footer a {
    text-decoration: none;
    color: inherit;
  }

  h4 {
    pointer-events: none;
    user-select: none;
  }

  footer > * {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  li:first-child,
  .copyright {
    pointer-events: none;
    user-select: none;
  }

  .copyright {
    color: var(--color-text-sub);
  }

  footer > div:first-child {
    display: grid;
    grid-template-areas:
      'title links1 links2'
      'socials links1 links2';
    justify-content: space-between;
  }

  footer > div:last-child {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-accent-4);
    text-align: center;
  }

  li:first-child {
    grid-area: title;
    font-weight: 700;
    pointer-events: none;
    user-select: none;
    padding-bottom: 1.5rem;
  }

  #social-links {
    grid-area: socials;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }

  #social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-surface-2);
    transition: all 50ms cubic-bezier(0.17, 0.67, 0.66, 0.97);
    &:hover {
      background: var(--color-accent-2);
      color: #000000;
      border-radius: 25%;
    }
  }

  #quick-links {
    grid-area: links1;
    list-style: none;
    heigth: 100%;
  }

  #quick-links li {
    width: fit-content;
    transition: left 100ms cubic-bezier(0.17, 0.67, 0.66, 0.97);

    & a {
      display: inline-block;
      height: 48px;
    }
  }

  #quick-links li:hover a {
    position: relative;
    left: 0.25rem;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    color: var(--color-accent-2);
    cursor: pointer;
  }
</style>
