---
import Icon from './Icon.astro';
---

<footer>
  <div>
    <h4>DaniloArantesF</h4>
    <div id="social-links">
      <a role="link" title="github" href="https://github.com/DaniloArantesF"
        ><Icon color="#ffffff" icon="github" />
      </a>
      <a
        role="link"
        title="codesandbox"
        href="https://codesandbox.io/u/DaniloArantesF"
        ><Icon color="#ffffff" icon="codesandbox" />
      </a>
      <a role="link" title="codepen" href="https://codepen.io/daniloarantesf"
        ><Icon color="#ffffff" icon="codepen" />
      </a>
      <a
        title="linkedin"
        role="link"
        href="https://www.linkedin.com/in/danilo-arantes-filho-6579ab177/"
        ><Icon color="#ffffff" icon="linkedin" />
      </a>
    </div>
    <ul id="quick-links">
      <h4>Quick Links</h4>
      <li><a role="link" href="/">Home</a></li>
      <li><a role="link" href="/projects">Projects</a></li>
      <li><a role="link" href="/blog">Blog</a></li>
      <li><a role="link" href="/contact">Contact</a></li>
    </ul>
  </div>
  <div>
    <span class="copyright">All rights reserved or something 2022</span>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--main-margin-y);
    padding: var(--padding-y) var(--padding-x);
    background: var(--color-surface-0);
  }

  footer a {
    text-decoration: none;
    color: inherit;
  }

  footer > * {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  h4,
  .copyright {
    pointer-events: none;
    user-select: none;
  }

  footer > div:first-child {
    display: grid;
    grid-template-areas:
      'title links1 links2'
      'socials links1 links2';
    justify-content: space-between;
  }

  footer > div:last-child {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-accent-4);
    text-align: center;
  }

  footer > div h4 {
    grid-area: title;
  }

  #social-links {
    grid-area: socials;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-surface-2);
    transition: all 50ms cubic-bezier(0.17, 0.67, 0.66, 0.97);
    &:hover {
      background: var(--color-accent-2);
      color: #000000;
      border-radius: 25%;
    }
  }

  #quick-links {
    grid-area: links1;
    list-style: none;
  }

  #quick-links h4 {
    margin-bottom: 0.75rem;
  }

  #quick-links li {
    width: fit-content;
    transition: left 100ms cubic-bezier(0.17, 0.67, 0.66, 0.97);
    margin: 0.5rem 0;
  }

  #quick-links li:hover {
    position: relative;
    left: 0.25rem;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
