---
export interface Props {
  label: string;
  name: string;
  id: string;
  placeholder?: string;
  required?: boolean;
  type: astroHTML.JSX.HTMLInputTypeAttribute;
}

const {
  label,
  name,
  id,
  placeholder = '',
  required = false,
  type = 'text',
} = Astro.props;
---

<div class="form-field">
  <label for={id}
    >{label}{required ? <span class="required">&nbsp*</span> : ''}
  </label>
  <input {...Astro.props} />
</div>

<style is:global>
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: inherit;
  }

  .form-field input,
  .form-field textarea {
    border: 1px solid var(--color-text-main);
    color: var(--color-text-main);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background: var(--color-surface-2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 50, 0.8);
  }

  .form-field input:focus,
  .form-field textarea:focus {
    outline: none;
  }

  span.required {
    color: red;
  }
</style>
