---
import Icon from './Icon.astro';
export interface Props {
  stealth?: boolean;
}

const page = Astro.url.pathname;
const { stealth } = Astro.props;

const getLinkClasses = (path: string) => {
  if (path === '/') {
    return page === path ? 'active' : '';
  }
  return page.startsWith(path) ? 'active' : '';
};
---

<div class={`header-container ${stealth && 'stealth'}`}>
  <header>
    <a role="navigation" aria-label="Home" class="logo" href="/"
      ><Icon icon="logo" color="ff0000" width={'3rem'} />
    </a>
    <nav role="navigation">
      <div class="navlinks">
        <a aria-label="Home" role="navigation" href="/">Home</a>
        <a aria-label="Projects" role="navigation" href="/projects">Portfolio</a
        >
        <a aria-label="Contact" role="navigation" href="/contact">Contact</a>
      </div>
      <button aria-label="mobile-navigation" id="mobile_nav_button"
        ><Icon icon="menu" color="#5D5FEF" width="2rem" />
      </button>
      <div id="mobile_nav">
        <a
          aria-label="Home"
          role="navigation"
          href="/"
          class={getLinkClasses('/')}>Home</a
        >
        <a
          aria-label="Projects"
          role="navigation"
          href="/projects"
          class={getLinkClasses('/projects')}>Projects</a
        >
        <a
          aria-label="Contact"
          role="navigation"
          href="/contact"
          class={getLinkClasses('/contact')}>Contact</a
        >
      </div>
    </nav>
  </header>
</div>

<script>
  import gsap from 'gsap';

  // Mobile Menu Button
  const mobileNav = document.getElementById('mobile_nav')!;
  const mobileNavButton = document.getElementById('mobile_nav_button');
  const root = document.querySelector('html')!;
  const { width: iconWidth, height: iconHeight } = document
    .querySelector('#mobile_nav_button')!
    .getBoundingClientRect();
  const animationDuration = 0.1;
  gsap.defaults({ ease: 'power2.out', duration: 0.25 });
  let isOpen = false;

  // Toggle Mobile Nav Menu
  if (mobileNavButton) {
    mobileNavButton.addEventListener('click', (event) => {
      event.preventDefault();
      if (isOpen) {
        closeMenu();
      } else {
        openMenu();
      }
    });
  }

  function openMenu() {
    root.classList.toggle('scroll-lock');
    gsap.to('#mobile_nav', {
      display: 'grid',
      opacity: 1,
      x: 0,
    });
    gsap.to('#mobile_nav a', {
      opacity: 1,
      x: 0,
    });

    gsap.to('#menu-icon-top', {
      x: '-6px',
      y: '0px',
      rotation: '45deg',
      transformOrigin: `${iconWidth / 2}% ${iconHeight / 2}`,
    });
    gsap.to('#menu-icon-mid', {
      display: 'none',
      duration: 0,
    });
    gsap.to('#menu-icon-bottom', {
      x: '11px',
      y: '-8px',
      transformOrigin: `${iconWidth / 2}% ${iconHeight / 2}`,
      rotation: '-45deg',
    });

    gsap.to('.header-container.stealth', {
      background: 'var(--color-surface-0)',
      duration: 0.1,
    });

    isOpen = true;
  }

  function closeMenu() {
    root.classList.toggle('scroll-lock');
    gsap.to('#mobile_nav', {
      opacity: 0,
      x: '-100vw',
    });

    gsap.to('#mobile_nav a', {
      opacity: 0,
      x: '-100vw',
    });

    gsap.to('#menu-icon-top', {
      x: 0,
      y: 0,
      rotation: 0,
      transformOrigin: `${iconWidth / 2}% ${iconHeight / 2}`,
    });

    gsap.to('#menu-icon-mid', {
      display: 'inline',
      duration: 0,
    });

    gsap.to('#menu-icon-bottom', {
      x: 0,
      y: 0,
      rotation: 0,
      transformOrigin: `${iconWidth / 2}% ${iconHeight / 2}`,
    });

    gsap.to('.header-container.stealth', {
      background: 'transparent ',
      duration: 0.1,
    });
    isOpen = false;
  }
</script>

<style>
  :root {
    --animation-duration: 250ms;
  }

  .header-container {
    width: 100%;
    background: var(--color-surface-0);
    margin-bottom: var(--main-margin-y);
  }

  .header-container.stealth {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    background: transparent;
  }

  header {
    display: flex;
    height: var(--header-height);
    position: relative;
    padding: var(--padding-y) var(--padding-x);
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-md);
    max-width: var(--content-max-width);
    margin: 0 auto;
    user-select: none;
    z-index: 999;
    box-shadow: var(--box-shadow);
  }

  header > * {
    display: flex;
    align-items: center;
  }

  .navlinks {
    display: none;
  }

  nav a {
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 100ms cubic-bezier(0.17, 0.67, 0.66, 0.97);
  }

  nav a:hover {
    color: var(--color-accent);
  }

  .logo {
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--color-accent);
    display: inline-flex;
    align-items: center;
    position: relative;
    bottom: 4px;
  }

  #mobile_nav_button {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
  }

  #mobile_nav_button > * {
    position: relative;
    z-index: 1;
  }

  #mobile_nav {
    grid-template-rows: repeat(4, minmax(auto, 85px));
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100vw);
    width: 100vw;
    height: calc(100vh);
    opacity: 0;
    background: var(--color-surface-1);
    transition: opacity calc(var(--animation-duration) * 0.8) ease-out;
    z-index: 999;
  }

  html.scroll-lock {
    overflow: hidden;
  }

  #mobile_nav a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 calc(1.5 * var(--padding-x));
    transition: none;
  }

  #mobile_nav a.active {
    background: var(--color-surface-2);
    padding-left: calc(2 * var(--padding-x));
  }

  #mobile_nav a.active::before {
    content: '';
    background: var(--color-accent);
    width: var(--padding-x);
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  /* #mobile_nav a:nth-child(1) {
    transition-delay: 0ms;
  }
  #mobile_nav a:nth-child(2) {
    transition-delay: calc((var(--animation-duration) * 0.25) * 1);
  }
  #mobile_nav a:nth-child(3) {
    transition-delay: calc((var(--animation-duration) * 0.25) * 2);
  }
  #mobile_nav a:nth-child(4) {
    transition-delay: calc((var(--animation-duration) * 0.25) * 3);
  } */

  @media only screen and (min-width: 600px) {
    .navlinks {
      display: flex;
      gap: 1em;
      margin-left: 2rem;
      align-items: center;
    }

    #mobile_nav_button,
    #mobile_nav,
    #mobile_nav.open {
      display: none;
    }
  }

  @media only screen and (min-width: 1800px) {
    header {
      padding: var(--padding-y) 0;
    }
  }
</style>
