---
import button from '../styles/button.module.css';

export interface Props {
  heading: string;
  text: string;
}

const { heading, text } = Astro.props;
---

<div id="hero">
  <h1><span>Hello</span><span>There</span></h1>
  <p>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
    ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
  <div class="buttons">
    <a class={`${button.button}`} href={'/contact'}> Contact Me</a>
  </div>
</div>

<style lang="scss">
  #hero {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    padding: 5rem 0rem 3rem;
    gap: 1rem;
  }

  h1 {
    display: flex;
    font-size: clamp(64px, 16vw, 96px);
    gap: 1rem;

    & span:nth-child(1) {
    }

    & span:nth-child(2) {
    }
  }

  p {
    max-width: 600px;
  }

  .buttons {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
  }

  @media only screen and (min-width: 600px) {
    .buttons {
      grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
    }
  }
</style>
