---
export interface Props {
  heading: string;
  text: string;
}

const { heading, text } = Astro.props;
---

<div id="hero">
  <h1>{heading}</h1>
  <p>{text}</p>

  <div class="buttons">
    <a class="button">Freelance</a>
    <a class="button outlined">Contact</a>
  </div>
</div>

<style>
  #hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0rem 3rem;
    gap: 1rem;
  }

  h1 {
    font-size: var(--text-xl);
  }

  .buttons {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
  }

  @media only screen and (min-width: 600px) {
    .buttons {
      grid-template-columns: repeat(2, minmax(auto, 200px));
    }
  }
</style>
