---
import { Analytics } from '@vercel/analytics/react';
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import '../globals.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description="I am a software engineer focused on front-end development"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header stealth />
    <slot />
    <Analytics client:only="react" />
    <style>
      *,
      *::before,
      *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      html,
      body {
        overflow-x: hidden;
      }

      html {
        width: 100vw;
      }
    </style>
  </body>
</html>
